h1 {
   
    color: blue;
}
body {background-color :#f5f5dd ;}
.square1 {
   
    background-color:rgb(3, 3, 3);

  }
  
.square2 {
   
    background-color:rgba(3, 3, 0, 0.7);

  }
  
.square3 {
   
    background-color:rgb(3, 3, 0,0.5);
    
  }
  
.square4 {
   
    background-color:rgb(3, 3, 0, 0.3);
   
  }
  .square{
    margin: 2%;
    width:200px;
    height: 200px;
  }